.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);

  max-width: 40rem;

  .inputWrapper {
    > label {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .required {
        color: var(--text-color-dim);
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }

    > input,
    > textarea {
      display: block;
      padding: 0.8rem 1rem;
      width: 100%;

      border: 0.1rem solid var(--grey-300);
      border-radius: var(--border-radius-s);
      background-color: var(--grey-100);

      color: var(--text-color);

      &:focus-visible {
        outline: 0.2rem solid var(--orange);
        outline-offset: 0.2rem;
      }
    }
  }
}
