.homeCard {
  position: relative;

  grid-column-end: span 12;
  min-height: 22rem;
  overflow: hidden;

  border-radius: var(--border-radius-l);

  @media (min-width: 54rem) {
    grid-column-end: span 6;
  }

  &--hasPadding {
    padding: var(--space-small);
  }

  &--hasVideo {
    .content {
      display: flex;
      align-items: center;
      height: 100%;

      video-container {
        height: var(--padding);
        width: 100%;
      }
    }
  }

  &__content {
    padding: var(--space-small);
  }

  &__label {
    display: inline-block;
    padding: 0.3rem 0.6rem;

    background-color: var(--orange);
    border-radius: var(--border-radius-m);

    color: white;
    font-family: var(--body-font);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}
