---
import Layout from "@/layouts/Layout.astro";

import ArticlesList from "@/components/articles/ArticlesList.astro";
---

<Layout
  title="The open source resilience suite"
  description="Rebound is an open-source suite to make sure your users can rely on you"
>
  <main class="articles">
    <ArticlesList />
  </main>
</Layout>
