:root {
  // Typography
  --body-font: system-ui, sans-serif;
  --monospace-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --display-font: system-ui, sans-serif;
  --base-font-size: 1.6rem;

  --text-color: var(--grey-700);
  --text-color-bright: var(--grey-800);
  --text-color-dim: var(--grey-500);
  --link-color: var(--pink-500);
  --button-color: var(--grey-900);

  --accent-color: rebeccapurple;
  --background-color: var(--grey-100);

  // Layout
  --max-width: 130rem;

  // Vertical Rythm
  --space-base: 1.6rem;
  --space-small: var(--space-base);
  --space-medium: calc(2 * var(--space-small));
  --space-large: calc(2 * var(--space-medium));

  // Border radiuses
  --border-radius-s: 0.4rem;
  --border-radius-m: 0.6rem;
  --border-radius-l: 1rem;
  --border-radius-xl: 3.6rem;
  --border-radius-xxl: 7.2rem;

  // Box shadow
  --box-shadow-sharp: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.025),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.05), 0 0.8rem 0.8rem rgba(0, 0, 0, 0.08),
    0 0.16rem 0.32rem rgba(0, 0, 0, 0.1);

  --box-shadow-diffuse: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.025),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.05), 0 0.8rem 0.8rem rgba(0, 0, 0, 0.08),
    0 0.8rem 2.4rem rgba(0, 0, 0, 0.1);

  // Animations
  --custom-easing: cubic-bezier(0.175, 0.885, 0.32, 1.1);

  // Cookie Consent
  --cc-button-primary-bg: hsla(var(--pink-ink), 0.85);
  --cc-button-primary-hover-bg: var(--pink);
  --cc-button-primary-color: white;
  --cc-button-secondary-bg: var(--grey-200);
  --cc-button-secondary-hover-bg: var(--grey-300);
  --cc-button-tertiary-bg: var(--grey-100);
  --cc-button-tertiary-hover-bg: var(--grey-200);
  --cc-button-color: var(var(--text-color-bright));
  --cc-focus-border: hsla(var(--pink-ink), 0.85);
  --cc-nb-background: var(--grey-100);
  --cc-pc-container-background: white;
  --cc-pc-header-background: var(--grey-100);
  --cc-pc-select-background: var(--blue-200);
  --cc-cp-body-background: white;
  --cc-pc-tab-background: var(--grey-200);
  --cc-pc-tab-active-background: white;
  --cc-pc-tab-hover-background: var(--grey-300);
  --cc-pc-tab-border: var(--grey-400);
  --cc-pc-footer-button-bg: hsla(var(--pink-ink), 0.85);
  --cc-pc-footer-button-color: white;

  @media (min-width: 60em) {
    --sectionPadding: calc(2 * var(--space-large));
  }
}
