.home {
  .homeSection {
    padding-top: var(--space-large);
    padding-bottom: var(--space-large);

    .homeSectionHeader {
      h2 {
        margin-top: 0;
        margin-bottom: var(--space-large);

        font-weight: 500;
      }

      &__sup {
        color: var(--text-color-dim);
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
