---
import { getCollection } from "astro:content";

import Rebound from "@/components/Rebound.astro";

const articles = await getCollection("writing", ({ data }) => {
  return data.isDraft !== true;
});

const displayArticlesLink: boolean = articles.length > 0;
---

<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <a href="/">
        <Rebound color="white" size="3.2rem" ; />
      </a>
    </div>
    <div class="footerLinks">
      {displayArticlesLink && <a href="/writing/">Writing</a>}
      <a href="/support/">Support</a>
      <a href="/support/#contact">Contact</a>
    </div>
    <div class="footerLinks footerLinks--secondary">
      <a href="/legal">Legal notice</a>
    </div>
  </div>
</footer>

<style lang="scss">
  .footer {
    margin-top: auto;
    padding-top: var(--space-large);
    padding-bottom: var(--space-large);

    background-color: var(--grey-900);

    &__logo {
      display: flex;
      justify-content: center;

      a {
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .footerLinks {
      display: flex;
      justify-content: center;
      gap: var(--space-small);
      margin-top: var(--space-large);

      a {
        color: var(--grey-200);
        font-size: 1.6rem;
      }

      &--secondary {
        a {
          color: var(--grey-500);
        }
      }
    }
  }
</style>
