---
import Rebound from "@/components/Rebound.astro";
---

<header>
  <div class="container">
    <div class="logo">
      <a href="/">
        <Rebound />
      </a>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);

    .logo {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
</style>
