---
import Layout from "@/layouts/Layout.astro";

import ContactSection from "@/components/support/Contact.astro";
import SupportSection from "@/components/support/Support.astro";
---

<Layout
  title="Entreprise-level support options"
  description="Get in touch to learn how we can help your organization use Rebound to build more resilient software."
>
  <main class="home">
    <SupportSection />
    <ContactSection />
  </main>
</Layout>
