---
import Layout from "@/layouts/Layout.astro";

import ContactSection from "@/components/support/Contact.astro";
import SupportSection from "@/components/support/Support.astro";
---

<Layout
  title="The open source resilience suite"
  description="Rebound is an open-source suite to make sure your users can rely on you"
>
  <main class="home">
    <SupportSection />
    <ContactSection />
  </main>
</Layout>
