---
import Layout from "@/layouts/Layout.astro";

// import "@/styles/pages/_error.scss";
---

<Layout title="Error 404" description="This page does not exist.">
  <main class="page error">
    <div class="error__content container">
      <h1 class="text-center">Error 404</h1>
      <p class="error__message text-center">
        The page you're looking for doesn't exist.
      </p>
      <p class="text-center">
        You can <a href="/">go back to homepage</a> or <a
          href="/support/#contact">send me a message</a
        >
      </p>
    </div>
  </main>
</Layout>

<style lang="scss">
  .error {
    padding-top: var(--space-large);

    &__content {
      padding-bottom: var(--space-large);
    }

    &__message {
      margin-bottom: var(--space-large);

      font-size: 3.2rem;
    }
  }
</style>
