---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/home/Hero.astro";
import What from "@/components/home/What.astro";
import Features from "@/components/home/Features.astro";
import Products from "@/components/home/Products.astro";
---

<Layout
  title="The open source resilience suite"
  description="Rebound is an open-source suite to make sure your users can rely on you"
>
  <main class="home">
    <Hero />
    <What />
    <Products />
    <Features />
  </main>
</Layout>
