---
import Layout from "@/layouts/Layout.astro";

import HomeHero from "@/components/home/HomeHero.astro";
import WhatIsRebound from "@/components/home/WhatIsRebound.astro";
import FeaturesList from "@/components/home/FeaturesList.astro";
import ProductsList from "@/components/home/ProductsList.astro";
---

<Layout
  title="The open source resilience suite"
  description="Rebound is an open-source suite to make sure your users can rely on you"
>
  <main class="home">
    <HomeHero />
    <WhatIsRebound />
    <ProductsList />
    <FeaturesList />
  </main>
</Layout>
