<section class="homeHero">
  <div class="container">
    <h1 class="text-center">The open source resilience suite to propel you forward</h1>
    <h3 class="text-center">Always be there for your users.</h3>
  </div>
</section>

<style lang="scss"></style>
