<section class="homeHero">
  <div class="container">
    <h1 class="text-center">
      The open source resilience suite to propel you forward
    </h1>
    <p class="text-center">Always be there for your users.</p>
  </div>
</section>

<style lang="scss"></style>
