---
import GetStarted from "@/components/GetStarted.astro";
---

<section class="homeHero">
  <div class="container">
    <h1 class="text-center">
      The open source toolbox <br /> for resilient operations
    </h1>
    <p class="text-center">
      Rebound is a set of tools, ranging from a network injection fault proxy to
      a reliability automation platform, so people can rely on you being there
      when they need.
    </p>
    <div class="homeHero__start">
      <a href="https://github.com/rebound-how/" class="button button--primary"
        >Read the docs</a
      >
      <span>or</span>
      <GetStarted />
    </div>
  </div>
</section>

<style lang="scss">
  .homeHero {
    display: grid;
    place-content: center;
    min-height: 70vh;

    h1 {
      font-weight: 700;
    }

    p {
      max-width: 60ch;

      color: var(--text-color-dim);
      font-size: 2.4rem;
    }

    &__start {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--space-small);
      margin-top: var(--space-medium);

      @media (width > 50rem) {
        flex-direction: row;
      }
    }
  }
</style>
