<section class="homeProducts">
  <div class="container">
    <h2>Products</h2>
    <ul class="homeProducts__list list-reset">
      <li class="product">Lueur - Developer Friendly Reliability
        <ul>
          <li>Lightning-Fast: A Rust-powered CLI that simulates network disruptions right on your local machine.</li>
          <li>Real-World Scenarios: Easily configure tests via YAML to mimic latencies, bandwidth constraints, packet loss, and HTTP errors.</li>
          <li>CI Integration: Automatically run these tests within your pipeline and receive detailed, actionable reports.</li>
        </ul>
      </li>
      <li class="product">Chaos Toolkit - Reliability Policies in Action

        <ul>
          <li>Executable Reliability Goals: Convert your resilience objectives into clear, measurable tests.</li>
          <li>Flexible Execution: Run tests on-demand, in staging, or with every release to validate your system’s robustness.</li>
          <li>Clear Feedback: Gain actionable insights that let you address vulnerabilities before they escalate.</li>
        </ul>
      </li>
      <li class="product">Reliably: Orchestrate Your Resilience Strategy
        <ul>
          <li>Centralized Management: Coordinate and monitor resilience tests across your entire infrastructure from a single platform.</li>
          <li>Comprehensive Visibility: Automatically map system health, track key resilience metrics, and identify improvement areas.</li>
          <li>AI-Powered Experimentation: Leverage genAI to generate targeted tests that evolve as your system does.</li>
      </ul>
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  .homeProducts {
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-small);

      @media (width > 50rem) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
</style>
