<section class="homeWhat homeSection">
  <div class="container">
    <header class="homeSectionHeader">
      <span class="homeSectionHeader__sup">What is Rebound?</span>
      <h2>
        Rebound is an open-source suite<br /> to make sure your users can rely on
        you
      </h2>
    </header>

    <ul class="homeWhat__list list-reset">
      <li>
        <h3>System Agnostic</h3>
        <p>Rebound's toolbox is not bound to a particular system.</p>
        <p>
          Whether it's Cloud, On-Premise or "It's complicated", Rebound follows.
        </p>
      </li>
      <li>
        <h3>Metrics Driven</h3>
        <p>With knowledge comes wisdom.</p>
        <p>
          Rebound has a mission to turn resilience from a perceived cost to a
          must-have strategic asset.
        </p>
      </li>
      <li>
        <h3>Scales With You</h3>
        <p>Grow at your own pace.</p>
        <p>
          Rebound adapts to your journey—from early development to enterprise
          operations.
        </p>
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  .homeWhat {
    header {
      h2 {
        br {
          display: none;

          @media (width > 40rem) {
            display: block;
          }
        }
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-large);

      @media (width > 50rem) {
        grid-template-columns: repeat(3, 1fr);
      }

      p {
        // font-size: 1.6rem;
      }
    }
  }
</style>
