<section class="homeWhat">
  <div class="container">
    <small>What is Rebound</small>
    <h3>Rebound is an open-source suite to make sure your users can rely on you</h3>

    <ul class="homeWhat__list list-reset">
      <li>
        <strong>System Agnostic</strong>
          Rebound's toolbox is not bound to a particular system. Whether it's Cloud, On-Premise or "It's complicated", Rebound follows.
      </li>
      <li>
        <strong>Metrics Driven</strong>
        With knowledge comes wisdom. Rebound has a mission to turn resilience from a perceived cost to a must have strategic asset.
      </li>
      <li>
        <strong>Scale With You</strong>
        Grow at your own pace. Rebound adapts to your journey—from early development to enterprise operations.
      </li>
    </ul>
</div>
</section>

<style lang="scss">
  .homeWhat {
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-small);

      @media (width > 50rem) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
</style>
