---
import { Icon } from "astro-icon/components";
---

<section class="homeWhat homeSection">
  <div class="container">
    <header class="homeSectionHeader">
      <span class="homeSectionHeader__sup">What is Rebound?</span>
      <h2>
        Rebound is an open-source suite<br /> to make sure your users can rely on
        you
      </h2>
    </header>

    <ul class="homeWhat__list list-reset">
      <li>
        <div class="homeWhat__icon">
          <Icon name="feather/layers" />
        </div>
        <h3>System Agnostic</h3>
        <p>
          <strong>Rebound's toolbox is not bound to a particular system.</strong
          > Whether it's Cloud, On-Premise or "It's complicated", Rebound follows.
        </p>
      </li>
      <li>
        <div class="homeWhat__icon">
          <Icon name="feather/bar-chart" />
        </div>
        <h3>Metrics Driven</h3>
        <p>
          <strong>With knowledge comes wisdom.</strong> Rebound has a mission to
          turn resilience from a perceived cost to a must-have strategic asset.
        </p>
      </li>
      <li>
        <div class="homeWhat__icon">
          <Icon name="feather/maximize-2" />
        </div>
        <h3>Scales With You</h3>
        <p>
          <strong>Grow at your own pace.</strong> Rebound adapts to your journey—from
          early development to enterprise operations.
        </p>
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  .homeWhat {
    header {
      h2 {
        br {
          display: none;

          @media (width > 40rem) {
            display: block;
          }
        }
      }
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--space-large);

      @media (width > 50rem) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__icon {
      position: relative;

      display: grid;
      place-content: center;
      overflow: hidden;
      height: 6rem;
      width: 6rem;

      border: 0.4rem solid rebeccapurple;
      border-radius: 50%;

      svg {
        height: 2rem;
        width: auto;
      }
    }
  }
</style>
