<section class="homeWhy homeSection">
  <div class="container">
    <header class="homeSectionHeader">
      <span class="homeSectionHeader__sup">Why Rebound?</span>
      <h2>Section title</h2>
    </header>
  </div>
</section>
