html {
  // 1rem = 10px
  font-size: 62.5%;
}

// Font size scale
//
// 1.2rem
// 1.4rem
// 1.6rem
// 1.8rem
// 2rem
// 2.4rem
// 3rem
// 3.6rem
// 4.8rem
// 6rem
// 7.2rem

body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--base-font-size); // 1.6rem = 16px
  font-weight: 400;
  line-height: 1.5;

  ::selection {
    background-color: var(--orange-dim);

    color: var(--text-color-bright);
  }
}

h1,
h2,
h3 {
  font-family: var(--display-font);
  letter-spacing: 0.02rem;
  line-height: 1.15;
}

h1 {
  font-size: 6rem;
  font-size: clamp(3rem, 6vw + 1rem, 6rem);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;

  color: var(--text-color-bright);

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: 4.8rem;
  font-size: clamp(4rem, 4vw + 1rem, 4.8rem);
}

h3 {
  font-size: 2.4rem;
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

strong {
  color: var(--text-color-bright);
  font-weight: 600;
}

a {
  color: var(--orange);
  text-decoration: none;

  &:visited {
    color: var(--purple);
  }

  &:hover {
    color: var(--orange-bright);
    text-decoration: underline;
  }
}

blockquote {
  margin: var(--space-large) 0;
  padding-left: var(--space-medium);

  font-size: 2rem;
  font-style: italic;

  border-left: 1rem solid var(--pink-500);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p + p {
  margin-top: var(--space-small);
}
